[Unit]
Description=IOTA IRI
After=network.target

[Service]
User=benny
Group=benny
Type=simple
WorkingDirectory=/home/benny/dev/iota/iri
ExecStart=/usr/bin/java -jar iri.jar -c iri.ini --remote
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
Alias=iota.service

